<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Productos</h1>

    <table class="default">

        <tr>

            <th><a href="/formulario-Xid">ID</a></th>
        
            <th><a href="/formulario-Xnombre">NOMBRE</a></th>
        
            <th><a href="/formulario-Xprecio">PRECIO</a></th>

            <th><a href="/formulario-Xcantidad">CANTIDAD</a></th>

            <th>CONFIGURACIÓN</th>
        
        </tr>
        
        <% productos.forEach(function(producto) { %>

            <tr>
                <td><%= producto.id%></td>
                <td><%= producto.nombre%></td>
                <td><%= producto.precio%></td>
                <td><%= producto.cantidad%></td>
                <td><a href="/actualizar-formulario?id=<%=producto.id%>">Cambiar</a></td>
            </tr>
           
        <% }); %> 
      
      </table>

    <hr>

    <h2>Total: <%=productos.length%></h2>

    
        <h2><a href="/borrar" onclick="return confirm('¿Estas seguro de eliminar esta todos los datos?')">BORRAR DATOS</a></h2>
    


</body>

</html>